body {
    background-color: rgb(255, 214, 185);
    text-decoration: wavy;
}

input {
    color: grey;
}

table {
    border: 1px;
    font-family: 'Times New Roman', Times, serif;
    width: 50%;
}
tr {
    border: 1pt
}
th {
    border: 1pc;
}