body {
    background-color: rgb(255, 214, 185);
    text-decoration: wavy;
}

input {
    color: grey;
}

table {
    border: 1px;
    font-family: 'Times New Roman', Times, serif;
}
tr {
    border: 1pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
th {
    border: 1pc;
    padding-left: 10px;
    padding-right: 10px;


}
tr.headers {
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
}